.change-name-heading {
  margin: 10px 0; }

.change-name-form {
  padding: 10px;
  height: 240px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .change-name-form-input {
    margin: 10px 20px;
    padding: 0 10px;
    height: 34px;
    width: 87%;
    border: none;
    background-color: #deeef7; }
