.change-name-heading {
  margin: 10px 0; }

.change-name-form {
  border: 1px solid black;
  margin: 4px 0;
  padding: 10px;
  display: flex;
  flex-direction: column; }
  .change-name-form-input {
    margin: 10px 20px;
    height: 34px;
    width: 200px;
    border: none;
    padding: 0 0 0 10px;
    background-color: #deeef7; }
