@import '../../../src/styles/_config.scss';

.dice-wrapper {
  background-color: $light-color;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.dice-image {
  width: 80px;
  height: 80px;

  @media (min-width: $tablet-width) {
    width: 100px;
    height: 100px;
  }
}
