@import '../../../src/styles/_config.scss';

.game-button {
  border: none;
  height: 40px;
  width: 120px;
  background-color: $dark-color;
  color: $light-color;
  font-weight: 600;
  font-size: 16px;
  text-transform: lowercase;

  &:hover {
    cursor: pointer;
    background-color: $light-color;
    border: 3px solid $dark-color;
    color: $dark-color;
    transition: all 0.3s ease;
  }
}

// .btn {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 400;
//   border-radius: 10px;
//   cursor: pointer;
//   transition: transform 0.3s ease;

//   &:hover {
//     transform: translateY(-3px);
//   }

//   .btn--primary--solid {
//     background-color: $primary-color;
//     color: $light-color;
//     border: none;
//   }
// }
