@import '../../../src/styles/_config.scss';

%btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: transform 0.3s ease;
  border: none;
  font-weight: 600;
  text-transform: lowercase;
  color: set-text-color($primary-color);

  &:hover {
    cursor: pointer;
    background-color: $light-color;
    border: 3px solid $primary-color;
    color: $primary-color;
  }
}

%btn-color-hover {
  @extend %btn;
  background-color: $primary-color;
  color: set-text-color($primary-color);

  &:hover {
    background-color: transparent;
  }
}

// Solid Styles

.btn-primary-solid {
  @extend %btn;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  border: set-border($primary-color);
}

.btn-secondary-solid {
  @extend %btn;
  background-color: $secondary-color;
  color: set-text-color($secondary-color);
  border: set-border($secondary-color);
}

.btn-warning-solid {
  @extend %btn;
  background-color: $warning-color;
  color: set-text-color($warning-color);
  border: set-border($warning-color);
}

.btn-success-solid {
  @extend %btn;
  background-color: $success-color;
  color: set-text-color($success-color);
  border: set-border($success-color);
}

// Outline Styles

.btn-primary-outline {
  @extend %btn;
  background-color: transparent;
  color: $primary-color;
  border: 3px solid $primary-color;

  &:hover {
    border: 3px solid $gray-color2;
  }
}

.btn-secondary-outline {
  @extend %btn;
  background-color: transparent;
  color: $secondary-color;
  border: 3px solid $secondary-color;
}

.btn-warning-outline {
  @extend %btn;
  background-color: transparent;
  color: $warning-color;
  border: 3px solid $warning-color;
}

.btn-success-outline {
  @extend %btn;
  background-color: transparent;
  color: $success-color;
  border: 3px solid $success-color;
}

// Color Hover Styles

.btn-primary-hover {
  @extend %btn-color-hover;

  &:hover {
    border: 3px solid $gray-color2;
    color: $gray-color2;
  }
}

.btn-secondary-hover {
  @extend %btn-color-hover;

  &:hover {
    border: 3px solid $secondary-color;
    color: $secondary-color;
  }
}

.btn-warning-hover {
  @extend %btn-color-hover;

  &:hover {
    border: 3px solid $warning-color;
    color: $warning-color;
  }
}

.btn-success-hover {
  @extend %btn-color-hover;

  &:hover {
    border: 3px solid $success-color;
    color: $success-color;
  }
}

// Button sizes
.btn-medium {
  height: 40px;
  width: 120px;
  font-size: 16px;
}

.btn-large {
  height: 60px;
  width: 150px;
  font-size: 20px;
}
