@import '../../../src/styles/_config.scss';

%card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: $border-radius;
  background-color: $gray-color1;
  opacity: 0.5;
  text-transform: uppercase;
  height: 240px;
  width: 80%;
  max-width: 400px;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    height: 300px;
    width: 40%;
    max-width: 300px;
  }

  @media (min-width: $desktop-width) {
    box-shadow: $box-shadow;
    width: 45%;
    max-width: 600px;
    height: 60vh;
    max-height: 550px;
    margin: 0;
  }

  .player-name {
    font-size: 35px;
    letter-spacing: 1px;
    word-break: break-word;
    inline-size: 90%;
    display: flex;
    justify-content: center;

    @media (min-width: $desktop-width) {
      font-size: 50px;
    }
  }

  .score {
    font-size: 50px;
    font-weight: 600;

    @media (min-width: $desktop-width) {
      font-size: 70px;
    }
  }

  %turn {
    background-color: $light-color;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    width: 60%;

    @media (min-width: $desktop-width) {
      padding: 15px 0;
    }
  }
}

.player-card {
  @extend %card;
}

.player-card-selected {
  @extend %card;
  opacity: 1;
}

.turn-score {
  @extend %turn;

  &-text {
    font-size: 18px;
    letter-spacing: 0.8px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }
  &-number {
    font-size: 20px;

    @media (min-width: $tablet-width) {
      font-size: 22px;
    }
  }
}

.turn-score-selected {
  @extend %turn;
  font-weight: 600;
}
