@import '../../../src/styles/_config.scss';

%card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid white;
  border-radius: 5%;
  background: $light-gray-color;
  opacity: 0.7;
  text-transform: uppercase;
  height: 60vh;
  width: 45%;

  .player-name {
    font-size: 50px;
    letter-spacing: 1px;
  }

  .score {
    font-size: 70px;
    font-weight: 600;
  }

  %turn {
    background: $light-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    width: 40%;

    &-text {
      font-size: 18px;
    }
    &-number {
      font-size: 35px;
    }
  }
}

.player-card {
  @extend %card;
}

.player-card-selected {
  @extend %card;
  opacity: 1;
}

.turn-score {
  @extend %turn;
}

.turn-score-selected {
  @extend %turn;
  font-weight: 600;
}
