$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$light-color: rgb(253, 247, 247);
$dark-color: rgb(17, 16, 16);
$gray-color: rgb(104, 100, 100);
