@import '../../../src/styles/_config.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark-color;
  background: -webkit-linear-gradient(
    to left,
    $light-color,
    £gray-color,
    $dark-color
  );
  background: linear-gradient(to left, $light-color, £gray-color, $dark-color);
  font-family: $font-stack;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
