.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdf7f7;
  z-index: 1000;
  width: 90%; }
  @media (min-width: 768px) {
    .modal {
      width: 65%; } }
  @media (min-width: 1200px) {
    .modal {
      width: 40%;
      max-width: 820px; } }
  .modal-close-btn {
    border: none;
    position: absolute;
    left: 5px;
    top: 5px; }
    .modal-close-btn-icon {
      font-size: 25px;
      color: #111010; }
      .modal-close-btn-icon:hover {
        color: #686464;
        cursor: pointer; }

.modal-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  padding: 20px 10px;
  width: 100%;
  min-height: 250px; }
  .modal-container .modal-content {
    font-size: 16px; }
    @media (min-width: 330px) {
      .modal-container .modal-content {
        font-size: 17px; } }
    @media (min-width: 1200px) {
      .modal-container .modal-content {
        font-size: 18px;
        padding: 20px; } }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  background-color: rgba(17, 16, 16, 0.7);
  z-index: 1000; }
