@import '../../../src/styles/_config.scss';

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $light-color;
  z-index: 1000;
  width: 90%;

  @media (min-width: $tablet-width) {
    width: 65%;
  }

  @media (min-width: $large-desktop-width) {
    width: 40%;
    max-width: 820px;
  }

  &-close-btn {
    border: none;
    position: absolute;
    left: 5px;
    top: 5px;

    &-icon {
      font-size: 25px;
      color: $dark-color;
      &:hover {
        color: $gray-color2;
        cursor: pointer;
      }
    }
  }
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  padding: 20px 10px;
  width: 100%;
  min-height: 250px;

  @media (min-width: $tablet-width) {
    // padding: 30px 20px;
  }

  .modal-content {
    font-size: 16px;

    @media (min-width: $mobile-minwidth) {
      font-size: 17px;
    }

    @media (min-width: $large-desktop-width) {
      font-size: 18px;
      padding: 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  background-color: rgba($dark-color, 0.7);
  z-index: 1000;
}
