@import '../../../src/styles/_config.scss';

.header-container {
  background-color: $light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .title {
    color: $dark-color;
    font-size: 30px;
    margin-right: 20px;

    @media (min-width: $tablet-width) {
      font-size: 32px;
    }
  }

  .logo {
    width: 45px;

    @media (min-width: $tablet-width) {
      width: 50px;
    }
  }
}
