@import '../../styles/config';

.game {
  margin: 15px auto 0 auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  @media (min-width: $desktop-width) {
    height: 85vh;
  }

  @media (min-width: $large-desktop-width) {
    width: 85%;
  }

  &-turn {
    font-size: 17px;
    text-align: center;

    @media (min-width: $desktop-width) {
      margin: 0 0 10px 0;
      font-size: 18px;
    }
  }

  &-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
    }

    &-button-section {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      width: 80%;
      max-width: 450px;

      @media (min-width: $tablet-width) {
        height: 300px;
        width: 20%;
        padding: 0 10px;
        max-width: unset;
      }

      @media (min-width: $desktop-width) {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 60vh;
      }

      @media (min-width: $large-desktop-width) {
        width: 12%;
        margin: 0 10px;
        height: 55vh;
      }
    }
  }
  &-lower-buttons {
    display: flex;
    justify-content: space-around;

    @media (min-width: $tablet-width) {
      justify-content: space-between;
    }
  }
}
