.game {
  border-radius: 8px;
  margin: 15px auto 0 auto;
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1; }
  .game-turn {
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px 0; }
  .game-span {
    font-weight: 600;
    text-transform: uppercase; }
  .game-content {
    display: flex;
    justify-content: space-evenly; }
    .game-content-button-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border: 1px solid yellow;
      width: 10%; }
