@import '../../styles/config';

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  border: 1px solid white;
}

.game {
  background: rgba($light-gray-color, 0.8);
  border-radius: 8px;
  margin: 0 auto;
  width: 95%;
  height: 80%; // check all heights match
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-content {
    display: flex;
    border: 1px solid red;

    &-buttons {
      display: flex;
      flex-direction: column;
      border: 1px solid yellow;
    }
  }
}
